/* Navbar */

.Navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: sticky;
    height: 100px;
    width: 100%;
    background-color: #7DCCAB;
}

.Link-Container a{
    background-color: #D2FFEC;
    padding: 2vh;
    padding-left: 4vw;
    padding-right: 4vw;
    margin-right: 3vw;
    margin-left: 3vw;
    font-size: 1.5vw;
    text-decoration: none;
    color: black;
    border-radius: 10pt;
    transition: all 0.2s;
}

.Navbar div a:hover{
    background-color: #a3ffd9;
}

.Home-Button{
    width: 3vw;
    padding: 0.5vw;
    background: #FBBF4FD4;
    border-radius: 50%;
    transition: all 0.2s;
}

.Home-Button:hover{
    background: #fdb32ad4;
}

.Dropdown{
    display: none;
    background: #98E1C3;
}

.PlansBtn:hover .Dropdown{
    display: block;
}

/* Navbar End */

/* footer */


/* footer end */

/* Home Page Component */


/* Home Page Component End */

/* Register Component */


/* Register Component End*/




/* My Blogs Component End*/

.MyBlogsContainer{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
}

.MyBlogsContainer-Title-Container h1{
    font-weight: 400;
    text-decoration: underline;
}

.MyBlogsContainer-Form-Container{
    height: 4vh;
}

.Search-Bar{
    background: #D2FFEC;
    border: 1px solid black;
    width: 20vw;
    height: 3vh;
}

.Search-Submit{
    border: 1px solid black;
    background: #7DCCAB;
    height: 3vh;
    border-top-left-radius: 25pt ;
    border-bottom-left-radius: 25pt;
}

.MyBlogsContainer-Featured-Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 30vh;
    width: 100%;
    background: #A9EACF;
    margin-bottom: 3vh;
    margin-top: 3vh;
}

.MyBlogsContainer-Featured-Container div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:1rem;
    width: 98%;
    background: #A4C6EC;
    padding-bottom: 20vh;
}

.MyBlogsContainer-MyWorkouts-Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height:30vh;
    max-width: 100%;
    background: #A9EACF;
    margin-bottom: 10vh;
}

.MyBlogsContainer-MyWorkouts-Container div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:1rem;
    width: 98%;
    background: #A4C6EC;
    padding-bottom: 20vh;
}

/* My Blogs Component End*/
