
/* Please put any global css, inside of index.html */

.MyBlogsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.MyBlogsContainer-Title-Container h1{
    font-weight: 400;
    text-decoration: underline;
}

.MyBlogsContainer-Form-Container{
    height: 4vh;
}

.Search-Bar{
    background: #D2FFEC;
    border: 1px solid black;
    width: 20vw;
    height: 3vh;
}

.Search-Submit{
    border: 1px solid black;
    background: #7DCCAB;
    height: 3vh;
    border-top-left-radius: 25pt ;
    border-bottom-left-radius: 25pt;
}

.MyBlogsContainer-Featured-Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 30vh;
    width: 100%;
    background: #A9EACF;
    margin-bottom: 3vh;
    margin-top: 3vh;
}

.MyBlogsContainer-Featured-Container div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:1rem;
    width: 98%;
    background: #A4C6EC;
    padding-bottom: 20vh;
}

.MyBlogsContainer-MyWorkouts-Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height:30vh;
    max-width: 100%;
    background: #A9EACF;
    margin-bottom: 10vh;
}

.MyBlogsContainer-MyWorkouts-Container div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:1rem;
    width: 98%;
    background: #A4C6EC;
    padding-bottom: 20vh;
}

/* My Blogs Component End*/
