.register-form, 
.register-form > form, 
.register-form > form > label > input, 
.password-container,
.password-container > label > input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.register-form{
    background: linear-gradient(180deg, #A9EACF 30.73%, rgba(216, 195, 155, 0.63) 100%);
    height: 95.6vh;
}

.register-form > form{
    padding: 2%;
    border-radius: 30px;
    background: linear-gradient(#FFF0D4 10%,#7DCCAB 100%);
}

.register-form > form > h1{
    font-size: xx-large;
    border-bottom: solid 2px black;
}

.register-form > form > label, .password-container > label{
    font-size: 100%;
}

.password-container{ 
    flex-direction: row;
    width: 100%;
    gap: 4%;
}

.register-form > form > label > input, .password-container > label > input {
    border:solid 1px black;
    border-radius: 30px;
    width: 100%;
}

.Password-Conditions{
    display: flex;
    flex-direction: column;
}

.password-req-not{
    color: red;
    font-size: 1vw;
}

.password-req-met{
    display: none;
}

.submitbtn-enabled{
    width: 30%;
    height: 10%;
    background-color: #D2FFEC;
    font-size: 2vw;
}

.submitbtn:hover{
    background-color: #acf1d5;
}

.-submitbtn-disabled{
    width: 30%;
    height: 10%;
    background-color: lightgrey;
    font-size: 2vw;
}