.register-form, 
.register-form > form, 
.register-form > form > label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.register-form{
    background: linear-gradient(180deg, #A9EACF 30.73%, rgba(216, 195, 155, 0.63) 100%);
    height: 95.6vh;
}

.register-form > form{
    padding: 2%;
    border-radius: 30px;
    background: linear-gradient(#FFF0D4 10%,#7DCCAB 100%);
}

.register-form > form > h1{
    font-size: xx-large;
    border-bottom: solid 2px black;
}

.register-form > form > label > input, .password-container > label > input {
    border:solid 1px black;
    border-radius: 30px;
    box-sizing: border-box;
}

.label-email{
    margin-top: 4%;
    margin-bottom: 5%;
}
.label-email, .input-email{
    width: 80%;
    height: 100%;
}

.password-container{
    display: flex;
    gap: 5%;
}

.password-container > label{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    box-sizing: border-box;
}

.Password-Conditions{
    display: flex;
    flex-direction: column;
}

.password-req-not{
    color: red;
    font-size: 1vw;
}

.password-req-met{
    display: none;
}

.label-show-password{
    flex-direction: row;
}

.submitbtn{
    width: 30%;
    height: 10%;
    border-radius: 30px;
    font-size: 1.8vw;
}

.submitbtn-enabled{
    background-color: #D2FFEC;
}

.submitbtn-disabled{
    background-color: #5a6b64;
    color: #D2FFEC;
}

.submitbtn-enabled:hover{
    background-color: #acf1d5;
}

.link-wrap-titanic-fitness-logo{
    margin: 0px;
    padding: 0px;
    height: 10%;
}

.link-wrap-titanic-fitness-logo > img{
    height: 100%;
}